{% extends '../base/base.html' %}{% load static %}{% block events %}

<div class="events-wrapper">
  <div class="right-side-events">
    <img src="{% static 'images/handsintheair.png' %}" alt="" />
    <div class="right-side-events-overlay"></div>
  </div>
  <div class="events-content">
    <div class="section-content-title-x-x">
      <h1>Our Events</h1>
    </div>
    <div class="section-content-title-line"></div>
    <div class="events-slider">
      <div class="center-bolt">
        <div class="service-cards">
          <div class="slider-reel">
            <div class="card-x">
              <div class="card-x-inner-menu">
                <img src="{% static 'images/image1.jpg' %}" alt="" />
                <div class="bottom-left-x-cats">
                  <div class="title-left-x-cats">
                    <h1>The event</h1>
                  </div>
                </div>
              </div>
              <div class="global-button-white">
                <a href="">Learn more</a>
              </div>
            </div>
            <div class="card-x">
              <div class="card-x-inner-menu">
                <img src="{% static 'images/image1.jpg' %}" alt="" />
                <div class="bottom-left-x-cats">
                  <div class="title-left-x-cats">
                    <h1>The event</h1>
                  </div>
                </div>
              </div>
              <div class="global-button-white">
                <a href="">Learn more</a>
              </div>
            </div>
            <div class="card-x">
              <div class="card-x-inner-menu">
                <img src="{% static 'images/image1.jpg' %}" alt="" />
                <div class="bottom-left-x-cats">
                  <div class="title-left-x-cats">
                    <h1>The event</h1>
                  </div>
                </div>
              </div>
              <div class="global-button-white">
                <a href="">Learn more</a>
              </div>
            </div>
            <div class="card-x">
              <div class="card-x-inner-menu">
                <img src="{% static 'images/image1.jpg' %}" alt="" />
                <div class="bottom-left-x-cats">
                  <div class="title-left-x-cats">
                    <h1>The event</h1>
                  </div>
                </div>
              </div>
              <div class="global-button-white">
                <a href="">Learn more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
