{% extends '../base/base.html' %}{% load static %}{% block events %}

<div class="events-wrapper">
  <div class="right-side-events">
    <img src="{% static 'images/handsintheair.png' %}" alt="" />
    <div class="right-side-events-overlay"></div>
  </div>
  <div class="events-content">
    <div class="section-content-title-x-x">
      <h1>Our Events</h1>
    </div>
    <div class="section-content-title-line"></div>
    <div class="events-slider">
      <div class="center-bolt">
        <div class="service-cards">
          <div class="slider-reel">
            {% for event in events %}
            <div class="card-x">
              <div class="card-x-inner-menu">
                <img src="{{event.image.url}}" alt="{{ event.title }}" />
                <div class="bottom-left-x-cats">
                  <div class="title-left-x-cats">
                    <h1>{{event.title}}</h1>
                  </div>
                </div>
              </div>
              <div class="global-button-white">
                <a
                  href="#"
                  class="open-events-modal"
                  data-title="{{ event.title }}"
                  data-description="{{ event.description }}"
                  >Learn more</a
                >
              </div>
            </div>
            {% endfor %}

            <div id="eventsModal" class="events-modal">
              <div class="events-modal-content">
                <span class="close-events-modal">&times;</span>
                <h2 id="eventsModalTitle"></h2>
                <p id="eventsModalDescription"></p>
              </div>
              <script>
                document.addEventListener("DOMContentLoaded", function () {
                  const modal = document.getElementById("eventsModal");
                  const modalTitle =
                    document.getElementById("eventsModalTitle");
                  const modalDescription = document.getElementById(
                    "eventsModalDescription"
                  );
                  const closeModal = document.querySelector(
                    ".close-events-modal"
                  );

                  document
                    .querySelectorAll(".open-events-modal")
                    .forEach((button) => {
                      button.addEventListener("click", function (event) {
                        event.preventDefault();
                        modalTitle.textContent =
                          this.getAttribute("data-title");
                        modalDescription.textContent =
                          this.getAttribute("data-description");
                        modal.style.display = "flex";
                      });
                    });

                  closeModal.addEventListener("click", function () {
                    modal.style.display = "none";
                  });

                  window.addEventListener("click", function (event) {
                    if (event.target === modal) {
                      modal.style.display = "none";
                    }
                  });
                });
              </script>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
