{% extends '../base/base.html' %}{% load static %}{% block firstsection %}

<div class="first-section-wrapper">
  <div class="section-content">
    <div class="section-content-title">
      <h1>About Us</h1>
    </div>
    <div class="section-content-title-line"></div>
    <div class="acct-section-content">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-left-content">
            <p>Who are we ?</p>
            <h1>
              Homecare Spiritual Fellowship <br />
              International (HSF)
            </h1>
            <p>
              We are an interdenominational fellowship of Believers committed to
              prayer for God’s purpose to be manifest in Families, the Nation
              and in Evangelism. Since incorporation in 1985, Homecare has grown
              tremendously to over 1000 members, spread over several branches in
              Kenya and abroad. The year-round, weekly prayer forums bear
              testimony to God’s restoration and empowerment. We give God all
              the glory.
            </p>
          </div>
          <div class="global-button-white">
            <a href="">Explore</a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="section-right-content">
            <div class="image-grid">
              <div class="image-item-1">
                <img src="{% static 'images/image1.jpg' %}" alt="Image 1" />
              </div>
              <div class="image-item-2">
                <img src="{% static 'images/image1.jpg' %}" alt="Image 2" />
              </div>
              <div class="image-item-3">
                <img
                  src="{% static 'images/image1.jpg' %}"
                  alt="Image 3"
                  id="image-three"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="second-section-wrapper">
  <div class="mission-vission-wrapper">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-right-content">
          <div class="image-grid">
            <div class="image-item-1">
              <img src="{% static 'images/image1.jpg' %}" alt="Image 1" />
            </div>
            <div class="image-item-2">
              <img src="{% static 'images/image1.jpg' %}" alt="Image 2" />
            </div>
            <div class="image-item-3">
              <img
                src="{% static 'images/image1.jpg' %}"
                alt="Image 3"
                id="image-three"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="section-content-title">
          <h1>Mission</h1>
        </div>
        <div class="section-content-title-line"></div>
        <div class="section-left-content">
          <!-- <p>Who are we ?</p> -->
          <!-- <h1>
            Homecare Spiritual Fellowship <br />
            International (HSF)
          </h1> -->
          <p>
            We are an interdenominational fellowship of Believers committed to
            prayer for God’s purpose to be manifest in Families, the Nation and
            in Evangelism. Since incorporation in 1985, Homecare has grown
            tremendously to over 1000 members, spread over several branches in
            Kenya and abroad. The year-round, weekly prayer forums bear
            testimony to God’s restoration and empowerment. We give God all the
            glory.
          </p>
        </div>
        <div class="section-content-title-x">
          <h1>Vission</h1>
        </div>
        <div class="section-content-title-line"></div>
        <div class="section-left-content">
          <!-- <p>Who are we ?</p> -->
          <!-- <h1>
            Homecare Spiritual Fellowship <br />
            International (HSF)
          </h1> -->
          <p>
            We are an interdenominational fellowship of Believers committed to
            prayer for God’s purpose to be manifest in Families, the Nation and
            in Evangelism. Since incorporation in 1985, Homecare has grown
            tremendously to over 1000 members, spread over several branches in
            Kenya and abroad. The year-round, weekly prayer forums bear
            testimony to God’s restoration and empowerment. We give God all the
            glory.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
