{% extends '../base/base.html' %}{% load static %}{% block footer %}
<div class="footer-wrapper">
  <div class="footer-wrapper-content">
    <div class="footer-nav">
      <a href="">About</a>
      <a href="">Support</a>
      <a href=""> Helpline </a>
      <a href=""> Testimonials</a>
    </div>
  </div>
  <div class="footer-nav-line"></div>
  <div class="legal-info-x-footer">
    <p>All Rights Reserved</p>
    <p>© Homecare Spiritual Foundation 2024</p>
    <p>
      This site is protected by
      <a href="https://www.google.com/recaptcha" target="_blank">reCAPTCHA</a>
      and the
      <a href="https://policies.google.com/privacy?hl=en-US" target="_blank"
        >Google Privacy Policy</a
      >
      and
      <a href="https://policies.google.com/terms?hl=en-US" target="_blank"
        >Terms of Service apply</a
      >.
    </p>
  </div>
</div>
{% endblock %}
