{% extends '../base/base.html' %}{% load static %}{% block gallery %}

<div class="gallery-content-section">
  <!-- <div class="gallery">
    <div class="gallery-title">
      <div class="section-content-title">
        <h1>View our gallery</h1>
        <p>
          Touch the circle to <br />
          open or close.
        </p>
      </div>
      <div class="section-content-title-line"></div>
    </div>
    <input type="checkbox" placeholder="view" />
    <img
      src="https://picsum.photos/id/1028/300/300"
      alt="a forest after an apocalypse"
    />
    <img
      src="https://picsum.photos/id/15/300/300"
      alt="a waterfall and many rocks"
    />
    <img
      src="https://picsum.photos/id/1040/300/300"
      alt="a house on a mountain"
    />
    <img src="https://picsum.photos/id/106/300/300" alt="sime pink flowers" />
    <img
      src="https://picsum.photos/id/136/300/300"
      alt="big rocks with some trees"
    />
    <img
      src="https://picsum.photos/id/1039/300/300"
      alt="a waterfall, a lot of tree and a great view from the sky"
    />
    <img src="https://picsum.photos/id/110/300/300" alt="a cool landscape" />
    <img
      src="https://picsum.photos/id/1047/300/300"
      alt="inside a town between two big buildings"
    />
    <img
      src="https://picsum.photos/id/1057/300/300"
      alt="a great view of the sea above the mountain"
    />
  </div> -->

  <div class="new-gallery">
    <div class="new-gallery-inner">
      <div class="new-gallery-title">
        <div class="the-acct-title">
          <h1>Your gallery</h1>
          <div class="section-content-title-line"></div>
        </div>
      </div>
      <div class="gals-row">
        <div class="row">
          {% for gal in gals %}
          <div class="col-lg-3 p-1">
            <div class="new-gallery-item">
              <img src="{{gal.image.url}}" alt="" />
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
