{% extends '../base/base.html' %}{% load static %}{% block gallery %}

<div class="gallery-content-section" id="gallery" >
  <div class="the-acct-title">
    <h1>Your gallery</h1>
    <div class="section-content-title-line"></div>
  </div>
  <div class="new-gallery">
    <div class="new-gallery-inner">
      <!-- <div class="new-gallery-title">
        
      </div> -->
      <div class="gals-row">
        <div class="row">
          {% for gal in gals %}
          <div class="col-lg-3 p-1">
            <div class="new-gallery-item">
              <img src="{{gal.image.url}}" alt="" />
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
