{% extends "../base/base.html" %}{% load static %}{% block title %} Home | HSF {% endblock %}

{% block template %}
    
    <div class="content">
        <div class="landing-socket">
            {% include "../hopeTemp/landing.html" %}
        </div>
        <div class="landing-socket">
            {% include "../hopeTemp/firstsection.html" %}
        </div>
        <div class="events-socket">
            {% include "../hopeTemp/events.html" %}
        </div>
        <div class="projects-socket">
            {% include "../hopeTemp/projects.html" %}
        </div>
        <div class="newsletter-socket">
            {% include "../hopeTemp/newsletter.html" %}
        </div>
        <div class="gallery-socket">
            {% include "../hopeTemp/gallery.html" %}
        </div>
        <div class="footer-socket">
            {% include "../hopeTemp/footer.html" %}
        </div>
    </div>

{% endblock %}