{% extends '../base/base.html' %}{% load static %}{% block navbar %}

<div class="mobile-container">
  <!-- Top Navigation Menu -->
  <div class="topnav">
    <a href="#home" class="active"></a>
    <div id="myLinks">
      <a href="{% url 'home' %}">Home</a>
      <a href="{% url 'home' %}#about">About</a>
      <a href="{% url 'home' %}#events">Events</a>
      <a href="{% url 'home' %}#news">Newsletter</a>
      <a href="{% url 'home' %}#progs">Programmes</a>
      <a href="{% url 'home' %}#teams">Team</a>
      <a href="{% url 'home' %}#gallery">Gallery</a>
      <a href="https://maps.app.goo.gl/tFnPNSMpep6Wbem89" target="_blank"
        >Go to map</a
      >
      <a href="{% url 'donate' %}">Donate</a>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()"> Menu </a>
  </div>
</div>

<script>
  function myFunction() {
    var x = document.getElementById("myLinks");
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }
</script>

<div class="navbar-wrapper" id="navbar">
  <div class="left-side-nav">
    <div class="brand-name-holder">
      <!-- <h1>Homecare Spiritual Foundation</h1> -->
      <a href="">Homecare Spiritual Foundation</a>
    </div>
    <div class="first-nav-links">
      <a href="{% url 'home' %}">Home</a>
      <a href="{% url 'home' %}#about">About</a>
      <a href="{% url 'home' %}#events">Events</a>
      <a href="{% url 'home' %}#news">Newsletter</a>
      <a href="{% url 'home' %}#progs">Programmes</a>
      <a href="{% url 'home' %}#teams">Team</a>
      <a href="{% url 'home' %}#gallery">Gallery</a>
      <a href="{% url 'home' %}#location">Location</a>
      <a href="{% url 'donate' %}">Donate</a>
    </div>
  </div>
  <div class="right-side-nav">
    <div class="second-nav-links">
      <div class="connect-link">
        <a href="">Connect</a>
      </div>
      <div class="link-line">
        <div class="nav-divider-line"></div>
      </div>
      <div class="ocho-verse-link">
        <a href="">
          <img src="{% static 'images/ocho-verse.svg' %}" alt="" />
        </a>
      </div>
    </div>
    <div class="side-nav">
      <div class="ham-menu-wrapper">
        <div class="open-btn" onclick="openNav()">
          <div class="hamburger">
            <span class="bar top"></span>
            <span class="bar middle"></span>
            <span class="bar bottom"></span>
          </div>
        </div>
      </div>
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
          >&times;</a
        >
        <a href="#teams">Team</a>
        <div class="inner-nav-line"></div>
        <a href="#gallery">Gallery</a>
        <div class="inner-nav-line"></div>
        <a href="#location">Location</a>
        <div class="inner-nav-line"></div>
      </div>
    </div>
  </div>
</div>
<script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
  }
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
  window.onscroll = function () {
    scrollFunction();
  };
  function scrollFunction() {
    var navbar = document.getElementById("navbar");
    if (document.body.scrollTop > 4 || document.documentElement.scrollTop > 4) {
      navbar.classList.add("nav-blur");
    } else {
      navbar.classList.remove("nav-blur");
    }
  }
</script>

{% endblock %}
