{% extends '../base/base.html' %}{% load static %}{% block newsletter %}

<div class="newsletter-wrapper">
  <div class="title-projects-wrapper">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-content-title">
          <h1>Our Newsletter</h1>
        </div>
        <div class="section-content-title-line"></div>
        <div class="section-left-content">
          <p>
            We are an interdenominational fellowship of Believers committed to
            prayer for God’s purpose to be manifest in Families.
          </p>
        </div>
      </div>
    </div>
    <div class="newsletter-content">
      <div class="row">
        <div class="col-lg-6 p-1">
          <div class="newsletter-item-card">
            <div class="newsletter-item">
              <img src="{% static 'images/sunset.jpg' %}" alt="" />
              <div class="inner-news-letter-item">
                <h1>Title</h1>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius
                  sed eos iusto veniam incidunt accusamus voluptatum, natus id
                  asperiores assumenda ab ad voluptas necessitatibus blanditiis
                  rerum et hic! Repudiandae, non.
                </p>
              </div>
            </div>
            <div class="global-button-white">
              <a href="">Learn more</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 p-1">
          <div class="newsletter-item-card">
            <div class="newsletter-item">
              <img src="{% static 'images/sunset.jpg' %}" alt="" />
              <div class="inner-news-letter-item">
                <h1>Title</h1>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius
                  sed eos iusto veniam incidunt accusamus voluptatum, natus id
                  asperiores assumenda ab ad voluptas necessitatibus blanditiis
                  rerum et hic! Repudiandae, non.
                </p>
              </div>
            </div>
            <div class="global-button-white">
              <a href="">Learn more</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 p-1">
          <div class="newsletter-item-card">
            <div class="newsletter-item">
              <img src="{% static 'images/sunset.jpg' %}" alt="" />
              <div class="inner-news-letter-item">
                <h1>Title</h1>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius
                  sed eos iusto veniam incidunt accusamus voluptatum, natus id
                  asperiores assumenda ab ad voluptas necessitatibus blanditiis
                  rerum et hic! Repudiandae, non.
                </p>
              </div>
            </div>
            <div class="global-button-white">
              <a href="">Learn more</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 p-1">
          <div class="newsletter-item-card">
            <div class="newsletter-item">
              <img src="{% static 'images/sunset.jpg' %}" alt="" />
              <div class="inner-news-letter-item">
                <h1>Title</h1>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius
                  sed eos iusto veniam incidunt accusamus voluptatum, natus id
                  asperiores assumenda ab ad voluptas necessitatibus blanditiis
                  rerum et hic! Repudiandae, non.
                </p>
              </div>
            </div>
            <div class="global-button-white">
              <a href="">Learn more</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 p-1">
          <div class="newsletter-item-card">
            <div class="newsletter-item">
              <img src="{% static 'images/sunset.jpg' %}" alt="" />
              <div class="inner-news-letter-item">
                <h1>Title</h1>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius
                  sed eos iusto veniam incidunt accusamus voluptatum, natus id
                  asperiores assumenda ab ad voluptas necessitatibus blanditiis
                  rerum et hic! Repudiandae, non.
                </p>
              </div>
            </div>
            <div class="global-button-white">
              <a href="">Learn more</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 p-1">
          <div class="newsletter-item-card">
            <div class="newsletter-item">
              <img src="{% static 'images/sunset.jpg' %}" alt="" />
              <div class="inner-news-letter-item">
                <h1>Title</h1>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius
                  sed eos iusto veniam incidunt accusamus voluptatum, natus id
                  asperiores assumenda ab ad voluptas necessitatibus blanditiis
                  rerum et hic! Repudiandae, non.
                </p>
              </div>
            </div>
            <div class="global-button-white">
              <a href="">Learn more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
