{% extends '../base/base.html' %}{% load static %}{% block projects %}
<div class="projects-wrapper">
  <div class="title-projects-wrapper">
    <div class="section-content-title">
      <h1>Programmes</h1>
    </div>
    <div class="section-content-title-line"></div>
    <div class="row mt-2">
      <div class="col-lg-6">
        <div class="section-left-content">
          <p>
            We are an interdenominational fellowship of Believers committed to
            prayer for God’s purpose to be manifest in Families, the Nation and
            in Evangelism. Since incorporation in 1985, Homecare has grown
            tremendously to over 1000 members, spread over several branches in
            Kenya and abroad. The year-round, weekly prayer forums bear
            testimony to God’s restoration and empowerment. We give God all the
            glory.
          </p>
        </div>
      </div>
    </div>
    <div class="events-slider">
      <div class="center-bolt">
        <div class="service-cards">
          <div class="slider-reel">
            {% for prog in progs %}
            <div class="card-x">
              <div class="card-x-inner-menu">
                <img src="{{prog.image.url}}" alt="{{ prog.title }}" />
                <div class="bottom-left-x-cats">
                  <div class="title-left-x-cats">
                    <h1>{{prog.title}}</h1>
                  </div>
                </div>
              </div>
              <div class="global-button-white">
                <a href="">Learn more</a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const scrollContainer = document.querySelector(".infinite-scroll");
  const cards = Array.from(scrollContainer.children);

  // Clone each card and append it to the container
  cards.forEach((card) => {
    const clone = card.cloneNode(true);
    scrollContainer.appendChild(clone);
  });
</script>

{% endblock %}
