{% extends '../base/base.html' %}{% load static %}{% block team %}

<div class="team-wrapper" id="teams">
  <div class="inner-team-wrapper">
    <div class="section-content-title">
      <h1>Meet the team</h1>
    </div>
    <div class="section-content-title-line"></div>
    <div class="team-section-people">
      <div class="row">
        {% for team in teams %}
        <div class="col-lg-3 p-1">
          <div class="people-card">
            <div class="people-card-image">
              <img src="{{team.image.url}}" alt="" />
            </div>
            <div class="people-card-content">
              <h1>{{team.name}}</h1>
              <p>{{team.title}}</p>
            </div>
          </div>
        </div>
       {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
